*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}
/* #wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: centre;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
h1{
    position: relative;
    font-size: 10cm;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
} */
#wrapper{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

}
.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
    
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
h1{
    position: absolute;
    top: 5rem;
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    font-family: 'Rowdies', cursive;
}


.heading{
    font-size: 5rem;
    padding:0 10rem;
    /* font-family: buf; */
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 0 5 rem;
}
section{
    background-color: rgb(45, 45, 45) ;
    color: white;
    padding: 5rem 0;
}
.bg1{
    background-image:url(sport-1.jpg) ;
}
.bg2{
    background-image:url(sport-2.jpg) ;
}
.bg3{
    background-image:url(sport-3.jpg) ;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: centre ;
    height: 500px;
    display: flex;
    align-items: center;
    align-content: center;
}
.desc{
    position: absolute;
    background-color: white;
    color:black;
}
h3{
    color: white;
    font-size: 3rem;
    font-family: 'Rowdies', cursive;
}
.desc{
    font-size: 2rem;
    transform: translateX(700px);
}